[submodule "DataService"]
	path = DataService
	url = https://github.com/gwdowner/DataService
[submodule "forcastservice"]
	path = forcastservice
	url = https://github.com/gwdowner/forcastservice
[submodule "WebService"]
	path = WebService
	url = https://github.com/gwdowner/WebService
